* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 12pt;
}

#gameboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: -moz-min-content;
    width: min-content;
}

#gameboard > div {
    height: 60px;
    width: 60px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 2px;
    text-align: center;
}

.d1 {
    font-size: 1.8rem;
    line-height: 1.8em;
}

.d2 {
    font-size: 1.8rem;
    line-height: 1.8em;
}

.d3 {
    font-size: 1.4rem;
    line-height: 2.4em;
}

.d4 {
    font-size: 1.2rem;
    line-height: 2.8em;
}

.d5 {
    font-size: 1rem;
    line-height: 3.2em;
}

.n0 {
    background-color: #eee;
}

.n2 {
    background-color: #7cb5e2;
}

.n4 {
    background-color: #4495d4;
}

.n8 {
    background-color: #2f6895;
}

.n16 {
    background-color: #f5bd70;
}

.n32 {
    background-color: #f2a032;
}

.n64 {
    background-color: #cd8829;
}

.n128 {
    background-color: #e37051;
}

.n256 {
    background-color: #de5833;
}

.n512 {
    background-color: #bd4a2b;
}

.n1024 {
    background-color: #5454da;
}

.n2048 {
    background-color: #3b3c99;
}

.n4096 {
    background-color: #ffd700;
}
